body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

#searchbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#searchbar input {
    width: calc(100% - 55px);
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    background-color: white;
    display: inline-block;
}

#searchbar button {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    background-color: eggplant;
    display: inline-block;
}

#results {
    margin-top: 40px;
    padding: 0px;
}

.detail {
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
}

.detail h2 {
    margin: 0;
    background-color: white;
    font-size: 1em;
}

.detail ul {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 300px;
    overflow: scroll;
    list-style-type: none;
}

.detail a {
    text-decoration: none;
    color: black;
}

.detail-country {
    width: 90px;
}

.detail-country ul {
    width: 90px;
}

.detail-include {
    background-color: green;
}

.detail-exclude {
    background-color: darkred;
}

.detail-neutral {
    background-color: white;
}

.count {
    color: darkgray;
    font-size: 0.8em;
}